<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.app.scandemo"
        version   = "1.0.0">
    <name>GuardDroid App</name>

    <description>
        GuardDroid for Android.
    </description>

    <author href="http://emerson.com" email="emersonhv@gmail.com">
        Emerson Herrera Vasquez - Desarrollador Junior
    </author>

    <gap:plugin name="ChildBrowser"/>
    <gap:plugin name="BarcodeScanner"/>

    <feature name="http://api.phonegap.com/1.0/device" />
	<feature name="http://api.phonegap.com/1.0/battery"/>
	<feature name="http://api.phonegap.com/1.0/camera"/>
	<feature name="http://api.phonegap.com/1.0/contacts"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/media"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>

    <preference name="phonegap-version" value="2.7.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />

    <icon src="icon.png" />
    <icon src="res/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:density="xhdpi" />

    <gap:splash src="res/screen/android/screen-ldpi-portrait.png"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="res/screen/android/screen-mdpi-portrait.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="res/screen/android/screen-hdpi-portrait.png"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:density="xhdpi" />
</widget>
